

 header {
  background-image: url(images/background4.webp);
  max-width: 100%;
  justify-content: space-between;
  padding: 10px;
 }
 header h1 {
  font-size: 5.5rem; 
  text-align: center;
  color: ghostwhite;
  text-shadow: 4px 4px 10px black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 }

 h2 {
  font-size: 150%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 }

 nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }

 nav {
  background-color: rgb(203, 72, 72);
  overflow: hidden;
 }

 nav a {
  padding: 1rem 2rem;
  text-transform: uppercase;
  display: block;
  color: ghostwhite;
  text-decoration: none;
 }
 nav a:hover {
  background-color: black;
  border-radius: 1rem;  
 }

 body {
  background-image: url(images/background1.avif);
 }

 .mainimages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }


 .wrapper {
  margin: 0 auto;
  max-width: 960px;
  background-color: transparent;
 } 

main {
   padding: 0;
   font-size: 120%;
   line-height: 1.2;
  }
  

 footer {
   clear: both;
   text-align: center;
 }

 .topbox {
border: 2px solid black;
border-radius: 2rem;
margin-bottom: .2rem;
margin-top: .2rem;
padding: 1rem 1.5rem;
background-color: azure;
 }

 .topbox h2 {
  text-align: center;
  margin-bottom: 1rem;
 }

.middlebox {
border-radius: 2rem;
border: 2px solid black;
margin-bottom: .2rem;
padding: 1rem 1.5rem;
background-color: azure;
 }

  .middlebox h2 {
  text-align: center;
  margin-bottom: 1rem;
 }

.bottombox {
border-radius: 2rem;
border: 2px solid black;
margin-bottom: .2rem;
padding: 1rem 1.5rem;
background-color: azure;
}

 .bottombox h2 {
  text-align: center;
  margin-bottom: 1rem;
 }

.left {
  text-align: center;
}

.right {
  text-align: center;
}

figcaption {
  font-size: 115%;
  color: black;
  font-family: cursive;
}

img {
  border: 2px solid black;
  border-radius: 9rem;
  box-shadow: 2px 5px 5px black;
  max-width: 100%;
}